[submodule "eos-common"]
	path = eos-common
	url = https://github.com/EOS-Nation/eos-common.git
[submodule "bancorx"]
	path = bancorx
	url = https://github.com/EOS-Nation/bancorx.git
[submodule "lamington"]
	path = lamington
	url = https://github.com/CoinageCrypto/lamington.git
[submodule "eos-encrypt"]
	path = eos-encrypt
	url = https://github.com/EOS-Nation/eos-encrypt.git
[submodule "eosio-signing-transport"]
	path = eosio-signing-transport
	url = https://github.com/greymass/eosio-signing-transport
[submodule "eosio-explorer"]
	path = eosio-explorer
	url = https://github.com/EOSIO/eosio-explorer.git
[submodule "swift-eosio"]
	path = swift-eosio
	url = https://github.com/greymass/swift-eosio.git
