[submodule "eos-common"]
	path = eos-common
	url = https://github.com/EOS-Nation/eos-common.git
[submodule "bancorx"]
	path = bancorx
	url = https://github.com/EOS-Nation/bancorx.git
[submodule "lamington"]
	path = lamington
	url = https://github.com/CoinageCrypto/lamington.git
[submodule "eos-encrypt"]
	path = eos-encrypt
	url = https://github.com/EOS-Nation/eos-encrypt.git
[submodule "eosio-signing-transport"]
	path = eosio-signing-transport
	url = https://github.com/greymass/eosio-signing-transport
[submodule "eosio-explorer"]
	path = eosio-explorer
	url = https://github.com/EOSIO/eosio-explorer.git
[submodule "swift-eosio"]
	path = swift-eosio
	url = https://github.com/greymass/swift-eosio.git
[submodule "eosio_light_api"]
	path = eosio_light_api
	url = https://github.com/cc32d9/eosio_light_api.git
[submodule "delphioracle"]
	path = delphioracle
	url = https://github.com/eostitan/delphioracle.git
[submodule "EOSIO-State-Track"]
	path = EOSIO-State-Track
	url = https://github.com/GetScatter/EOSIO-State-Track.git
[submodule "SimpleAssets"]
	path = SimpleAssets
	url = https://github.com/CryptoLions/SimpleAssets.git
[submodule "hyperion-api"]
	path = hyperion-api
	url = https://github.com/eoscafe/hyperion-api.git
[submodule "light-api"]
	path = light-api
	url = https://github.com/eoscafe/light-api.git
[submodule "eos-paper-wallet"]
	path = eos-paper-wallet
	url = https://github.com/eoscafe/eos-paper-wallet.git
[submodule "rapidjson"]
	path = rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "eosc"]
	path = eosc
	url = https://github.com/eoscanada/eosc.git
[submodule "zeus-sdk"]
	path = zeus-sdk
	url = https://github.com/liquidapps-io/zeus-sdk.git
[submodule "eos-contracts-best-practices"]
	path = eos-contracts-best-practices
	url = https://github.com/liquidapps-io/eos-contracts-best-practices.git
